practice.py
new_module.py
new_module2.py
commenting.py
__pycache__/budget.cpython-39.pyc
__pycache__/app.cpython-39.pyc
budget.py
myQuiz.py
test.py
test2.py
__pycache__/new_module.cpython-37.pyc
texst7.py
test.txt
test_folder/test1.txt
test_folder/test10.abc
test_folder/test2.abc
test_folder/test3.abc
test_folder/test4.txt
test_folder/test5.abc
test_folder/test6.txt
test_folder/test7.abc
test_folder/test8.abc
test_folder/test9.abc
test.db
game_test.py
files.db
*.pyc
db_phonebook.db
student_tracking_func.py
student_tracking_gui.py
student_tracking_main.py
*.db
test3.py
*.html
test4.py
